/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a{
    text-decoration: none;
    list-style: none;
}

/* Shared Styles */
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

.dark2-color{
    color: #424242;
}
.dark3-color{
    color: #727272;
}
.primary-color{
    color: #FF900E;;
}
.btn-primary{
    background-color: #FF900E;
    color: #ffff;
    width: 180px;
    height: 65px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.display-flex{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}


/* Header navbar style */

header{
    margin-bottom: 80px;
    /* padding-bottom: 10px; */
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-size: 2.5rem;
    font-weight: 700;
}
.nav-links{
    font-size: 1.2rem;
}
.nav-item{
    margin-left: 25px;
}

/* Header Banner Style */
.banner{
    text-align: center;
    margin-top: 150px;
}
.banner-container{
    max-width: 860px;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

/* Banner Image */
.banner-img{
    margin-top: 30px;
}
.banner-img img{
    width: 100%;
    border-radius: 8px;
    margin: 0 auto;
}

/* features-section style */

.features-section, .main-features{
    max-width: 1440px;
    margin: 0 auto;
}
.features-section-img{
    display: grid;
    gap: 10px;
    margin: 30px;
    grid-template-columns: repeat(2, 1fr);
}
.features-section-img img{
    max-width: 100%;
    border-radius: 8px;
}
.features-section-list{
    max-width: 537px;
    font-size: 2rem;
}
.span{
    font-weight: 500;
}

.features-section-description{
    font-size: 1rem;
    line-height: 26px;
}

/* main-features style */
.main-features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.main-features-title{
    font-size: 3.4rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
    margin-bottom: 30px;
}
.main-features-description{
    font-size: 1.2rem;
    line-height: 16px;
}
.main-features-cards{
    max-width: 580px;
    
}
.main-features-card{
    height: 150px;
    margin-top: 20px;
    /* margin-bottom: 30px; */
    padding: 30px;
    border-radius: 8px;
    background-color: #ffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.main-features-subtitle{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.main-feature-img img{
    width: 100%;
}
.btn{
    width: 300px;
    height: 150px;
    padding: 20px;
    margin-top: -100px;
    margin-left: -50px;
}
.btn h1{
    font-size: 3.5rem;
    font-weight: 700;
}
.btn p{
    font-size: 1.2rem;
    font-weight: 500;
}

/* facts-card style*/
.facts-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 180px;
}
.facts-section-title{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.facts-section-description{
    max-width: 542px;
    font-size: 1rem;
}
.facts-card{
    border: 2px solid #FF900E;
    width: 242px;
    text-align: center;
    padding: 38px;
    border-radius: 8px;
}
.facts-card-title{
    font-size: 2.5rem;
    font-weight: 600;
    color: #424242;
}
.facts-card-description{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
}

/* Footer style*/

footer{
    text-align: center;
    background-color: #FFF4E7;
    padding: 50px;
}


/* Media Queries  */
/* Mobile Devices */
@media screen and (max-width: 576px){
    .navbar,
    .nav-links, 
    .features-section
    {
        flex-direction: column;
    }
    .features-section{
         flex-direction: column-reverse;
    }
    .nav-links{
        margin-top: 20px;
    }
    .banner{
        margin: 50px auto;
        padding: 10px;
    }
    .banner-title{
    font-size: 2.5rem;
}
    .banner-description{
    font-size: 1rem;
}
    .features-section-list{
        padding: 25px;
        text-align: center;
    }
    .features-section-description{
        text-align: justify;
    }
    .main-features{
    margin-top: 50px;
    grid-template-columns: repeat(1, 1fr);
}
    .main-features-title{
    font-size: 2.7rem;
}

    .main-features-card{
    max-height: 100%;
    
}
    .main-features-subtitle{
        margin-top: -20px;
        font-size: 1.2rem;
    }
    .btn{
    width: 200px;
    height: 110px;
    padding: 20px;
    display:  flex;
    flex-direction: column;
    margin: -28px auto;
    position: relative;
    border-radius: 70px 40px;
}
    .btn h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .main-features-description{
        text-align: center;
    }
    .facts-cards{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
        row-gap: 10px;
        justify-items: center;
    }
}

/* Media Queries  */
/* Medium Devices */

@media screen and (min-width: 576px) and (max-width: 992px) {

     .navbar,
    .nav-links, 
    .features-section
    {
        flex-direction: column;
    }
    .features-section{
         flex-direction: column-reverse;
    }
    .nav-links{
        margin-top: 20px;
    }
    .banner{
        margin: 50px auto;
        padding: 10px;
    }
    .banner-title{
    font-size: 2.5rem;
}
    .banner-description{
    font-size: 1rem;
}
    .features-section-list{
        padding: 25px;
        text-align: center;
    }
    .features-section-description{
        text-align: justify;
    }
    .main-features{
    margin-top: 50px;
    grid-template-columns: repeat(1, 1fr);
}
    .main-features-card{
    max-height: 100%;
}
    .btn{
    display: flex;
    flex-direction: column;
    margin: -28px auto;
    position: relative;
    border-radius: 100px 40px;
}
    .main-features-description{
        text-align: center;
    }
    
    .facts-cards{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
        row-gap: 10px;
        column-gap: 20px;
        justify-items: center;
    }
}