/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li, a{
    text-decoration: none;
    list-style: none;
}

/* Shared Styles */
.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

.dark2-color{
    color: #424242;
}
.dark3-color{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: #ffff;
    width: 180px;
    height: 65px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.display-flex{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}


/* Header navbar style */

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    /* padding: 20px;
     */
}
.brand{
    font-size: 2.5rem;
    font-weight: 700;
}
.nav-links{
    font-size: 1.2rem;
}
.nav-item{
    margin-left: 25px;
}

/* Header Banner Style */
.banner{
    text-align: center;
    max-width: 860px;
    margin-top: 150px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    margin-top: 20px;
    font-size: 1.2rem;
}
.btn{
    margin-top: 33px;
}

/* Banner Image */
.banner-img img{
    max-width: 100%;
    border-radius: 8px;
    margin-top: 30px;
}



/* Media Queries  */
/* Mobile Devices */
@media screen and (max-width: 576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
    .nav-links{
        margin-top: 20px;
    }
    .banner{
        margin: 50px auto;
        padding: 10px;
    }
    .banner-title{
    font-size: 2.5rem;
}
    .banner-description{
    font-size: 1rem;
}

}